:root {
  --bs-font-monospace: "Roboto Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

#app {
  .db-tables-list-container {
    .table-list-pagination {
      --bs-gutter-y: 0 !important;
      --bs-gutter-x: 0 !important;
    }
  }

  .db-tables-list {
    button.db-table-info {
      border: 0;
      height: auto;
      width: auto;
      background-color: transparent;
    }

    .db-table {
      cursor: pointer;
    }
  }

  .db-create-table {
    white-space: pre-wrap;
    max-height: 25rem;
    overflow: auto;
    display: block;
    * {
      white-space: pre-wrap;
    }
  }

  .query-results-container {
    .table {
      font-family: var(--bs-font-monospace);
      white-space: nowrap;
      th {
        background-color: #282a2e;
        color: #e0e0e0;
        border-right: 1px solid #969896;
      }
      td {
        &:first-child {
          border-left: 1px solid #e0e0e0;
        }
        white-space: nowrap;
        border-right: 1px solid #e0e0e0;
        &.text-date {
          color: #198844;
        }
        &.text-varchar {
          //color: #282a2e;
        }
        &.text-decimal {
          color: #F96A38;
        }
        &.text-muted {
          opacity: 0.5;
        }
      }
      td.text-wrap {
        white-space: normal;
      }

      //tbody tr:hover > * {
      //  background-color: #FBA92240;
      //}
      //tbody tr.selected > * {
      //  background-color: #FBA92280;
      //}
    }
  }
}
